*{
	box-sizing: border-box;
}
html{
	background: #080808;
}
body{
	margin: 0;
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
}
*::-webkit-scrollbar {
  width: 0;
	height: 0;
}
.container{
	max-width: 1360px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}
header{
	background: #080808;
}
.headerinfo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 8px;
}
.headersection{
	display: inline-flex;
	align-items: center;
}
.logo{
	display: flex;
	flex-direction: row;
	align-items: center;

}
.headerlogo{
	font-family: 'Grenze Gotisch';
	font-size: 24px;
	font-weight: 800;
	padding-left: 12px;
}
.headertext a{
	text-decoration: none;
	font-size: 16px;
	color: #ffdfbe;
	margin-right: 40px;
	display: flex;
	align-items: center;
}
.headertext a:hover{
	color: #B43429;
}
.headertext1{
	margin-right: 0;
}
hr{
	color: #ffdfbe !important;
}
.section1{
	position: relative;
	padding-top: 72px;
	padding-bottom: 150px;
}
.sectioninfo{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	position: relative;
}
.sectioninfo--text{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}
.sectioninfo p{
	font-weight: 400;
	font-size: 24px;
	line-height: 120%;
	margin-top: 20px;
	margin-bottom: 40px;
}
h1{
	font-family: 'Grenze Gotisch';
	color: #B43429;
	font-weight: 600;
	font-size: 96px;
	margin-bottom: 0;
	margin-top: 0;
}
.button a{
	text-decoration: none;
	color: #B43429;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
}
.button {
	width: 295px;
	height: 61px;
	color: #B43429;
  padding: 16px 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	background: #ffdfbe;
	border: 0px;
}

button:hover {
	color: #ffdfbe;
	background: #080808;
	border: 2px solid #ffdfbe;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section_img img{
	width: 555px;
	height: 542px;
}
.card{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	overflow-x: scroll;
	margin-bottom: 142px;
}
.pic{
	background: url(1.jpg);
	margin-right: 20px;
	position: relative;
}
.pic:last-child{
	margin-right: 0;
}
.pic img{
	display: block;
	width: 325px;
	height: 210px;
}
.card--btn{
	font-size: 20px;
	width: 325px;
	margin-top: 20px;
}
footer{
	background: #080808;
	padding-top: 32px;
	padding-bottom: 40px;
}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.text{
	font-weight: 700;
	font-size: 16px;
}
.text1{
	font-weight: 700;
	font-size: 16px;
	padding-bottom: 20px;
}
.footertext{
	display:flex;
	flex-direction: column;
}
.footerinfo p{
	font-weight: 400;
	font-size: 12px;
	margin-top: 20px;
}
.inf_img img{
	padding-right: 20px;
}
.inf_img img :last-child{
	padding-right: 0;
}
.form{
	position: relative;
	width: 500px;
	background: #B43429;
}
.form-text{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 20px;
}
.reg{
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}
.registr{
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
	font-weight: 400;
	font-size: 24px;
	text-decoration-line: underline;
}
.vhod{
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
	font-weight: 400;
	font-size: 24px;
}
.registrreg a{
	text-decoration: none;
	color: #ffdfbe;
}
.vhod a{
	text-decoration: none;
	color: #ffdfbe
}
.registrreg{
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
	font-weight: 400;
	font-size: 24px;
}
.vhodvhod{
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
	font-weight: 400;
	font-size: 24px;
	text-decoration-line: underline;
}
.input-container{
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	height: 100%;
}
.input-login{
	margin-top: 95px;
}
.input{
	background: #B43429;
	width: 90%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 24px;
	outline: none;
	border: 2px solid #ffdfbe;
	font-weight: 400;
	font-size: 16px;
	color: #ffdfbe;
}
.input::placeholder{
	font-weight: 400;
font-size: 16px;
color: #ffdfbe;
font-family: 'Inter';
font-style: normal;
}
.password{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: #ffdfbe;
	width: 100%;
	padding-left: 50px;
	padding-bottom: 40px;
}
.button-form{
	background: #ffdfbe;
	border: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 24px;
	color: #B43429;
	font-family: 'Inter';
	font-style: normal; 
}
.button-form:hover{
	background: #B43429;
	border: 2px solid #ffdfbe;
	color: #ffdfbe;
}
.overlay{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.363);
	top: 0;
	left: 0;
}
@media (max-width: 980px){
	.container{
		height: 100px;
		padding: 15px;
	}
	.headerinfo{
		flex-direction: column;
	}
}