*{
	box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0;
	height: 0;
}
html{
	background: #080808;
}
body{
	margin: 0;
	font-family: 'Inter';
	font-style: normal;
	color: #ffdfbe;
}
header{
	background: #080808;
}
.container{
	max-width: 1360px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}
.header{
	display: grid;
	grid-template-columns: 990px 58px 60px 24px 24px;
	align-items: center;
	grid-column-gap: 40px;
	padding-top: 16px;
	padding-bottom: 8px;
}
.header__logo{
	display: flex;
	align-items: center;
	font-family: 'Grenze Gotisch';
	font-size: 24px;
	font-weight: 800;
}
.header__logo img{
	padding-right: 12px;
}
.header__link{
	text-decoration: none;
}
.header__link a{
	text-decoration: none;
	font-size: 16px;
	color: #ffdfbe;
	color: #ffdfbe;
}
.header__link a:hover{
	color: #B43429;
}
hr{
	color: #ffdfbe !important;
}
.heading{
	font-family: 'Grenze Gotisch';
	color: #B43429;
	font-weight: 500;
	font-size: 48px;
	margin-top: 72px;
	margin-bottom: 40px;
}
.card{
	color: #ffdfbe;
	border: 2px solid #B43429;
	width: 442px;
	display: grid;
}
.cards__grid{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(6, 442px);
	overflow-x: scroll;
	margin-bottom: 150px;
}
.text3{
	font-weight: 500;
	font-size: 20px;
	display: grid;
	grid-template-columns: 173px 150px;
	grid-gap: 79px;
	padding: 30px 20px;
	align-items: center;
}
button{
	font-family: 'inter';
	font-weight: 600;
	font-size: 16px;
	color: #B43429;
	padding: 10px 24px;
	width: 148px;
	height: 40px;
	background: #ffdfbe;
}
button:hover{
	background: #080808;
	border: 2px solid #ffdfbe;
	color: #ffdfbe;
}
footer{
background: #080808;
}
.footer__f{
	max-width: 100%;
}
.footer__caption{
	display: grid;
	grid-template-columns: 163px 78px 135px;
	padding-top: 32px;
	grid-column-gap: 478px;
}
.footer__caption :last-child{
grid-column-gap: 0;
}
.caption__item{
	font-weight: 700;
	font-size: 16px;
}
.footer{
	display: grid;
	grid-template-columns: 641px 556px 163px;
	padding-bottom: 40px;
}
.footer__info{
	display: grid;
	grid-template-columns: 641px;
}
.footer__info p{
	font-weight: 400;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 0;
}
.footer__contact{
	display: grid;
	grid-template-columns: 200px;
	font-weight: 400;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 0;
}
.footer__contact p{
	font-weight: 400;
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 10px !important;
}

.footer__contact img{
	padding-right: 20px;
	padding-top: 17px;

}
.footer__contact br{
	margin: 10px;
}
.footer__pay img{
	padding-right: 20px;
	padding-top: 20px;
}
.footer__pay :last-child{
	padding-right: 0;
}